name: Coverage Check

on: [push, pull_request]

jobs:
  coverage:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.14
      uses: actions/setup-python@v5
      with:
        python-version: '3.14'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip

    - name: Install test tools
      run: |
        pip install pytest
        pip install pytest-cov

    - name: Install package
      run: pip install -e .

    - name: Compile translations
      run: python compile_translations.py

    - name: Run tests with coverage check (minimum 97%)
      run: pytest --cov=compatibility --cov-fail-under=97 tests/
