# This workflow runs Unit-Tests for compatibility on Linux
# with a variety of Python versions.

name: Linux Test

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']

    steps:
    - name: APT Update
      run: sudo apt update

    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies and test tools
      run: |
        python -m pip install --upgrade pip
        python -m pip install pytest

    - name: Install package
      run: pip install -e .

    - name: Test with pytest
      run: pytest tests/
