name: Mypy (type checking)

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.14']

    steps:
    - name: APT Update
      run: sudo apt update
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies and Mypy
      run: |
        python -m pip install --upgrade pip
        python -m pip install flake8 pytest
        python -m pip install mypy
    - name: Check code with Mypy
      run: mypy compatibility
